body
  background-color white
  margin 0
  padding 0

section
  margin 0
  paddin 0

h1
  color blue

button
  background-color green
  color white
  height 50px
  font-weight bold

.style_button
  width 110px
  margin-left 50%