body
  background-color white
  margin 0
  padding 0

section
  margin 0
  paddin 0

.ButtonHandler
  box-shadow rgba(0, 0, 0, 0.3) 0px 1px 4px -1px
  background rgb(255, 255, 255) none repeat scroll 0% 0%
  border 0 none
  margin: 10px
  padding: 0
  position absolute
  cursor pointer
  user-select none
  border-radius 2px
  height: 40px;
  width: 60px;
  overflow: hidden;
  top: 0
  right: 60px
  font-size 16px
  outline: currentcolor none medium
  z-index 999