.style__button-hide {
  text-decoration: none;
  padding: 5px;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  background-color: #11c720;
  border-radius: 6px;
  border: 1px solid #00b00f;
}
.style__button-hide:hover {
  color: #1883ba;
  background-color: #ffffff;
}
.style__button-show {
  text-decoration: none;
  padding: 5px;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  background-color: #11c720;
  border-radius: 6px;
  border: 1px solid #0016b0;
}
.style__button-show:hover {
  color: #1883ba;
  background-color: #ffffff;
}
