

.style__button-hide {
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration: none;
  padding: 10px 25px;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  background-color: #98CA40;
  border-radius: 6px;
  border: 2px solid #98CA40;
}
.style__button-hide:hover {
  color: #98CA40;
  background-color: #ffffff;
}
.style__button-show {
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration: none;
  padding: 10px;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  background-color: #98CA40;
  border-radius: 6px;
  border: 2px solid #98CA40;
}
.style__button-show:hover {
  color: #98CA40;
  background-color: #ffffff;
}