.btn-show-hide
  position: absolute
  bottom: 50px
  left 20px
  border: none
  padding: 10px
  font-weight: bold
  color: #000
  cursor: pointer
  transition: opacity .1s ease-in-out

.btn-show-hide:hover
  opacity : .8

.btn-show
  background-color: #6fcff2

.btn-hide
  background-color: #fff;